*.so
*.suo
*.sdf
*.user
*.opensdf
*.exe
*.o
*~
/test/triangle/prj/linux/triangle
/test/textX11/prj/linux/textX11
/main/vs12/Debug
/main/vs12/Release
/main/Release
/library/vs13/Debug
/test/triangle/prj/vs13/Debug
/library/prj/vs13/Debug
/test/loadTexture/prj/vs13/Debug
/test/sobel/prj/vs13/Debug
/test/frameBuffer/prj/vs13/Debug
/test/render2texture/prj/vs13/Debug
/library/prj/vs13/Release
/test/render2texture/prj/vs13/Release
/test/contextCreation/prj/vs13/Debug
/test/sobelPerformance/prj/vs13/Debug
/test/particleFilter/prj/vs15/Debug
/test/particleFilter/prj/vs13/Debug
