/main/vs12/*.suo

/main/vs12/*.sdf

/main/vs12/*.user

/main/vs12/Debug
/main/vs12/*.opensdf
/main/vs12/GLHL.vcxproj.user
/main/vs12/Release
/main/Release
/library/vs13/Debug
/library/vs13/*.sdf
/library/vs13/*.suo
/test/triangle/prj/vs13/Debug
/library/prj/vs13/Debug
/library/prj/vs13/*.sdf
/library/prj/vs13/*.suo
/test/triangle/prj/vs13/*.sdf
/test/triangle/prj/vs13/*.suo
/test/loadTexture/prj/vs13/Debug
/test/loadTexture/prj/vs13/*.sdf
/test/loadTexture/prj/vs13/*.suo
/test/loadTexture/prj/vs13/*.opensdf
/library/prj/vs13/*.opensdf
/test/sobel/prj/vs13/Debug
/test/sobel/prj/vs13/*.opensdf
/test/sobel/prj/vs13/*.sdf
/test/sobel/prj/vs13/*.suo
/test/sobel/prj/vs13/*.user
